

<body>
    <section class="mt-12">
        <div class="container "style="height:500px;">
            <div class=" row-flex  text-center"style="height:500px;align-items:center;justify-content:center">
                
                <div class="m-3">
                    <a asp-controller="Mainpage" asp-action="school"
                       class="btn btn-secondary w-50 " style="height:60px">SCHOOL</a>
                </div>
                <div class=" m-3">
                    <button class="btn btn-light w-50 " style="height:60px;">COLLEGES</button>
                </div>
                <div class=" m-3">
                    <button class="btn btn-secondary w-50" style="height:60px">COACHING</button>
                </div>
                <div class="m-3">
                    <button class="btn btn-light w-50" style="height:60px">VOCATIONAL TRAINING</button>
                </div>
                <div class="m-3">
                    <button class="btn btn-secondary w-50" style="height:60px">COMPETITIVE TRAINING</button>
                </div>
                <div class="m-3">
                    <button class="btn btn-light w-50" style="height:60px">TYPING SCHOOL</button>
                </div>
                
            </div>
        </div>
    </section>



</body>
